@import '../../Theme.scss';

.btn{
    font-size: 1em;
    min-width: 6em;
    text-align: center;
    padding: .7em 1.2em;
    border:1px solid $accent;
    color:inherit;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    position: relative;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:hover{
        background-color: #111;
    }

    &.full{
        background-color: $accent;
        color: $accent-tx;
        padding: calc(.5em + 1px) calc(1em + 1px);
        border: none;
        
        &:hover{
            background-color: lighten($accent, 10);
            border-color: lighten($accent, 10);
        }

        &::before{
            background-color: #0003;
        }


    }   

    &.danger{
        background-color: $error;
        &:hover{
            background-color: lighten($error, 10);
            border-color: lighten($error, 10);
        }
    }

    overflow: hidden;

    &::before{
        position: absolute;
        background-color: #FFF1;
        content: "";
        border-radius: 1em;
    }

    &.animate:before{
        
        animation: .4s riple ease-out infinite;
    }
}

@keyframes riple{
    0%{
        top:0%;
        left:50%;
        width:0%;
        height: 100%;
    }
    100%{
        height: 100%;
        left:-50%;
        top:0%;
        width:200%;
    }
}


@-webkit-keyframes riple{
    0%{
        top:0%;
        left:50%;
        width:0%;
        height: 100%;
    }
    100%{
        height: 100%;
        left:-50%;
        top:0%;
        width:200%;
    }
}