.formWrapper{
    form{
        .inputWrapper, .buttonWrapper, .textareaWrapper, .checkboxWrapper, h2{
            margin-top: 1.5em;
        }
    }

    .buttonWrapper{
        margin-top: 1.5em;
        text-align: right;
    }

    &.small{
        max-width: 600px;
        margin: auto;
    }
}