@import '../../Theme.scss';

.textareaWrapper{   
    position: relative;

    textarea{
        font-family: inherit;
        width: calc(100% - 2em);
        display:block;
        color: $primary-text;
        
        padding: 1.6em 1em 1em;
        display: block;
        font-size: 1em;
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid $neutral;
        background-color: $widget-bg;
        outline: none;
        min-height: 6em;
        position: relative;

        &::placeholder{
            color: #0000;
        }

        &:focus::placeholder{
            color: #777;
        }
    }
    
    &::before{
        position: absolute;
        height:1px;width: 100%;
        bottom:0; left:0;
        content: "";
        background-color: $accent;
        z-index: 20;
        max-width: 0px;
        transition: .2s ease all;
    }

    &.invalid::before{
        max-width: 100%;
        background-color: $error;
    }

    &:focus-within::before{
        max-width: 100%;
    }

    .label{
        position: absolute;
        top: 1em;
        left: 1em;
        pointer-events: none;
        transition: .2s ease all;
    }

    textarea:not(:placeholder-shown) ~ .label, textarea:focus ~ .label{
        top: .6em; left: 1.42em;
        font-size: .7em;
        font-weight: 600;
    }

    
    textarea:required ~ .label::after{
        content:" *";
        font-size: smaller;
    }
}


.validate{
    textarea:invalid{
        border-bottom: 1px solid $error;
    }
}