@import '../../Theme.scss';

.ratingInput{
    margin-top: 1.5em;
    .icons{
        display: flex;
        padding: .8em .5em 0em;
        .icon{
            font-size: 1.2em;
            &:not(:last-child){margin-right: .5em;}
            cursor: pointer;
            &.active{
                color: $accent;
            }
        }
    }

    &.required .label::after{
        content:" *";
        font-size: smaller;
    }

    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    border-bottom: 2px solid $neutral;
    background-color: $widget-bg;
    padding: 1em 1em .5em;

    &::before{
        position: absolute;
        height:2px;width: 100%;
        bottom:-2px; left:0;
        content: "";
        background-color: $accent;
        max-width: 0px;
        transition: .2s ease all;
    }

    
    &.invalid{
        &::before{
        background-color:$error;
        max-width: 100%;
    }}
    
}