@import '../../Theme.scss';

#archive-home-page{
    .event{
        border-bottom: 1px solid #999;
        margin-top: 2em;

        h2{
            margin-bottom: .3em;
        }

        .date{
        }
    }

    .back{
        margin-top: 2em;
    }
}

table{
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: $shadow;
    td{
        padding: .5rem .8rem;
        cursor: pointer;
    }
    thead{
        tr{
            td{
                background-color: $secondary-bg;
            }
        }
    }
    tbody{
        font-size: .85em;
        tr:nth-child(2n-1){
            td{
                background-color: $tertiary-bg;
            }
        }
        tr:nth-child(2n){
            td{
                background-color: $secondary-bg;
            }
        }
    }
}

#archive-page{

    .header{
        margin: 2em auto;
        max-width: 800px;
    }

    .stats{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2em 0em;

        .tile{
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                font-size: 3em;
                margin-right: .3em;
            }
            .value{
                font-size: 1.5em;
                font-weight: 300;
            }
        }
    }

    .talk-detail{
        background-color: $secondary-bg;
        box-shadow: $shadow;
        padding: 2em;

        .icon-row{
            display: flex;
            align-items: center;
            div{
                margin-right: 1em;
            }
            svg{
                margin-right: .5em;
                
            }
        }
    }
    
    .back{
        margin-top: 2em;
    }
}
