@import '../../Theme.scss';
.selectWrapper{
    margin-top: 1.5em;
    position: relative;

    .selected{
        background-color: $widget-bg;
        padding: 1.6em 1em .5em;
        position: relative;
        border-bottom: 2px solid $neutral;
        cursor: pointer;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        
        .placeholder{
            position: absolute;
            color: $gray-text;
            top: 1.6em;
            left: 1em;
            display: none;

            &.show{
                display: block;
            }
        }

        .label{
            position: absolute;
            top: 1.1em;
            left: 1em;
            pointer-events: none;
            transition: .2s ease all;

            &.small{
                top: .6em; left: 1.42em;
                font-size: .7em;
                font-weight: 600;
            }
        }

        svg{
            position: absolute;
            top: 1.4em;
            right: 1em;
            color: $gray-text;
            transition: .3s;
        }

        .text{
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:hover{
            svg{
                color: $accent;
            }
        }

        &.open{
            svg{
                transform: rotate(180deg);
            }
        }

            
        &::before{
            position: absolute;
            height:2px;width: 100%;
            bottom:-2px; left:0;
            content: "";
            background-color: $accent;
            max-width: 0px;
            transition: .2s ease all;
        }

        &.open::before{
            max-width: 100%;
        }

        

    }

    &.invalid select::before{
        background-color:$error;
        max-width: 100%;
    }

    .options{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #FFF;
        width: 100%;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        transition: .3s;
        overflow: hidden;
        max-height: 0em;
        z-index: 100;

        .option{
            padding: 1em;
            cursor: pointer;
            &:hover{
                background-color: #EEE;
            }
        }

        &.open{
            max-height: 20em;
            box-shadow: 0px 8px 8px 2px #00000019;
            overflow-y: auto;
        }
    }
}