.team-card{
    position: relative;
    overflow: hidden;

    .info{
        position: absolute; top:-10%; left:-10%;
        width: 100%; height: 100%; padding: 10%;
        display: flex; flex-direction: column; align-items: center; justify-content: center;
        background: #000B; backdrop-filter: blur(2px);

        .name{
            font-weight: bold;
            margin-bottom: .5em;
        }
        
        .role{
            margin-bottom: 1.5em;
        }

        .contacts{
            
            font-size: 1.2em;
            a:not(:last-child){
                margin-right: 1em;
            }
        }

        overflow: hidden;
        opacity: 0; 
        transform:rotateY(90deg);
        transition: .4s;
    }

    &:hover{
        .info{
            opacity: 1;
            transform:rotateY(0deg);
            transition: .8s;
        }
    }

    
}