@import '../Theme.scss';

#landing-page{
    #header-section{
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        //background-image: url("/eye-header.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        font-size: 1.1em;
        main{
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1{
                font-size: 2.8em;
                margin-bottom: .5em
            }
            h2{
                font-size: 1.8em;
            }
            .info-text{
                margin-bottom: 2em;
                max-width: 800px;
                line-height: 1.5em;
            }
            .register{
                margin-bottom: 1.5em;
            }
            .socials{
                font-size: 1.5em;
                a:not(:last-child){margin-right: 1em;}
            }
            text-align: center;
            flex-grow: 1;
        }
        .scroll-down{
            padding: 2em 0em; 
            text-align: center;
            svg{
                font-size: 1.3em;
                margin-top: .3em;
            }
        }

    }

    #info-section{
        .map{
            max-width: 600px;
            margin: 2em auto;

            .iframe{
                width: 100%;
                padding-top: 75%;
                position: relative;
                
                iframe{
                    position: absolute;
                    top: 0; left:0;
                    width: 100%; height: 100%;
                }
            }

        }
    }

    #team-section{
        .grid{
            display: grid;
            grid-gap: 3em;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            margin: 2em 0em;

            @media(max-width: $mobile){
                grid-template-columns: 1fr 1fr;
                grid-gap: 2em;
            }
        }
    }

    #nights-section{
        .night-card{
            .picture{
                padding: 1.5em;
            }
            .name{
                text-align: center;
                font-size: 1.2em;
            }
        }
    }

    #partners-section{
        .grid{
            margin-top: 2em;
            display: grid;
            grid-gap: 3em;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;


            .cell{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    max-width: 15em;
                }
            }
            
        }
    }

    #contact-section{
        form{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: .5em 2em;

            .textareaWrapper{
                grid-column: 1/3;
            }

            @media(max-width: 800px){
                grid-template-columns: 1fr;
                .textareaWrapper{grid-column: unset;}
            }
        }
    }
}