@import '../../Theme.scss';

.modalWrapper{
    position: fixed;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    top:0;
    left: 0;
    z-index: 100000;
    padding: 2em;

    .overlay{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: #0005;
        z-index: 100001;       
    }

    .modal{
        position: absolute;
        top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); 
        z-index: 100002;
        width: fit-content ;
        display: flex;
        max-width: 1000px;
        max-height: calc(100vh - 4em);
        overflow: auto;
        @media(max-width:1100px){max-width: calc(100vw - 4em);}

        .close{
            color: $gray-text;
            &:hover{
                color: $accent;
            }

            position: absolute;
            top: 1em;
            right: 1em;
            cursor: pointer;
        }
    }
}