@import '../../Theme.scss';

.carousel {
    --items-per-view: 3;
    --item-gap: 0.11;

    --parent-width: 0px;
    --width: min(var(--parent-width), calc(((380px / (1 - var(--item-gap))) * 3)));
  
    margin: auto;

    @media (max-width: 1000px) { --items-per-view: 2; }
    @media (max-width: 800px) and (orientation: portrait){ 
        --items-per-view: 1; 
        .controls svg {display: none;}
        .controls div.dot {
            height: .2em;
            width:100%;
            margin: 0;
            padding: 0;
            border-radius: 0;

            max-width: 2em;

            &[active]{
                width: 100%;
                height: 0.6em;
                border-radius: 60% ;
            }
        
        }
    }

    --item-size: calc(var(--width) / var(--items-per-view));


    width: var(--width);
    

    transition: width 0.6s, height 0.6s;

    .items {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: auto; 
        grid-gap: 0;
        grid-template-columns: repeat(1000, var(--item-size));
        scroll-behavior: smooth;
    
        overflow: hidden;
        width: 100%;

        border: none !important;

        & > * {
            width: calc(var(--item-size) - var(--item-size)*var(--item-gap));
            transition: width 0.3s;

            box-sizing: border-box;
            transition: .3s;

            margin: 1em auto;
        }
    }

    .controls{
        margin-top: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;


        svg{
            color: $gray-text;
            margin: 0em 1em;
            &:hover{
                color: $accent;
                cursor: pointer;
            }
        }

        .dot {
            position: relative;
            width: .5em;
            height: .5em;
            background-color: $gray-text;
            border-radius: 1em;
            margin: .3em;
            transition: .3s;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1000%;
                top: -450%;
            }
            &[active]{
                background-color: $accent;    
                width: .7em;
                height: .7em;
            }
        }
    }

    ._var-compute {

        &[variable=item-size]{
            width: var(--item-size);    
        }

        &[variable=items-per-view]{
            width: calc(1px * var(--items-per-view));    
        }

        &[variable=item-gap]{
            width: var(--item-gap);    
        }

        position: fixed;
        opacity: 0;
        z-index: -1000;
    }
   
}