@import '../../Theme.scss';

.checkboxWrapper{
    display: flex;
    position: relative;
    padding: .6em 0em;
    cursor: pointer;
    *{cursor: pointer;}

    
    input{
        position: absolute;
        margin:0em;
        padding: 0em;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .box{
        width: 1.35em;
        height: 1.35em;
        border: 2px solid $accent;
        border-radius: 6px;
        position: absolute;
        top: .5em;
        left: .5em;
        pointer-events: none;
        
    }

    input:checked~.box{
        background-color: $accent;

        &::before{
            content: "✓";
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .label{
        padding-left: 3em;
    }

    &.invalid{
        .box{
            border-color: $error
        }
    }
}