@import '../../Theme.scss';

.listInputWrapper{
    margin-top: 1.5em;

    .top{
        display: flex;

        .inputWrapper{
            margin:0;
        }

        .button{
            display: flex;
            padding: .5em 1em;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #444;
            cursor: pointer;
            
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            &:hover{
                background-color: #555;
            }
        }   
    }

    .item{
        padding: 1em;
        display: flex;
        margin-right: 2em;
        align-items: center;
        justify-content: space-between;
        background-color: lighten($widget-bg, 2);
        &:nth-child(2n+1){
            background-color: $widget-bg;
        }

        .controls{
            display: flex;
            align-items: center;
            svg{
                color: $gray-text;
                margin-left: 1em;
            }
            svg:not(.disabled):hover{
                color: $accent;
                cursor: pointer;
            }
        }
    }
}