@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './Theme.scss';

html, body{
    padding: 0px; margin: 0px;
    scroll-behavior: smooth;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: $primary-bg;
    color: $primary-tx;
    font-size: 20px;
    @media(max-width:1200px){font-size: 18px;}
    @media(max-width:600px){font-size: 16px;}
}

html, body, #root, #app{
    height: 100%;
}

#app{
    display: flex;
    flex-direction: column;
}

.page{
    flex-grow: 1;
}

section{
    &.full-height{
        min-height: 100vh;
        min-height: calc(100 * var(--vh));
    }
}

main{
    max-width: 1200px;
    padding: 4em 2em;
    margin: 0em auto;
}


h1,h2,h3,h4,h5{
    font-weight: 300;
    position: relative;
    margin: 0em 0em 1em;
}  
h1{font-size: 2em; text-align: center;}
h2{font-size: 1.5em; &::before{content:"# "}}
h3{font-size: 1.3em;}
h4{font-size: 1.2em; margin:0em 0em .5em; font-weight: 600;}
h5{font-size: 1.1em; margin:0em 0em .5em; font-weight: 600;}
h6{font-size: .7em; margin: 0em 0em .3em 0em; font-weight: 700; text-transform: uppercase;}

p{
    line-height: 1.4em;
}

a{
    color: inherit;
    text-decoration: inherit;
    &.link{
        text-decoration:underline;
    }
}