$primary-bg: #111;
$primary-tx: #FFF;
$primary-text: $primary-tx;

$secondary-bg: #222;
$secondary-tx: #FFF;

$tertiary-bg: #050505;

$accent: #FFF;
$accent-tx: #000;

$gray-text: #999;

$error: #A00;
$neutral: white;
$success: #0A0;
$widget-bg: #151515;

$mobile: 600px;

$shadow: 0px 0px 8px 4px #00000019