@import '../../Theme.scss';

.imageInputWrapper{
    position: relative;
    margin-top: 1.5em;
    
    .picture{
        border-radius: 1em;
        overflow: hidden;
        max-width: 15em;
        position: relative;
        background-color: $widget-bg;
        
        input{
            position: absolute; top: 0; left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer !important;
        }

        .overlay{
            position: absolute; top: 0; left: 0;
            height: 100%;
            width: 100%;
            background-color: #0000;
            color: #0000;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            border-radius: 1em;
        }

        &:hover .overlay{
            
            color: white;
            background-color: #0003;

        }

        .image{
            max-height: 100%;
            max-width: 100%;
        }

        .label{
            position: absolute; left:0; top:0;
            background-color: #FFF7;
            padding: .5em 1em;
            border-bottom-right-radius: 1em;

    
        }

        &.invalid{
            &~.overlay{width:calc(100% - 4px); height: calc(100% - 4px);border: 2px solid $accent;}
            &~.label{color: $accent}
        }
    }

 
}